@layer components {
  .btn-primary {
    @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 font-medium rounded-lg text-sm px-4 py-2.5 text-center leading-5 focus:outline-none focus:ring-4 focus:ring-blue-300;
  }

  .btn-primary:hover {
    @apply bg-gradient-to-bl;
  }

  .btn-primary:focus {
    @apply ring-blue-300;
  }
}
