/* @font-face {
  font-family: "KasnovaDemo-Regular";
  src: url("../fonts/KasnovaDemo-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
